# Ignora i file di sistema
.DS_Store
Thumbs.db

# Ignora le cartelle di build
build/
bin/
obj/

# Ignora file di log
*.log

# Ignora file di configurazione locali
*.env
config.local.json
.ipynb_checkpoints
.*

# Non ignorare file specifici
!important-file.txt
